<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Intone_App</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>loginservlet</servlet-name>
    <servlet-class>intone.actions.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginservlet</servlet-name>
    <url-pattern>/loginservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetUserProfile</servlet-name>
    <servlet-class>intone.actions.EditProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserProfile</servlet-name>
    <url-pattern>/GetUserProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateProfile</servlet-name>
    <servlet-class>intone.actions.UpdateUserProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateProfile</servlet-name>
    <url-pattern>/updateProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkbefore</servlet-name>
    <servlet-class>intone.actions.CheckBeforeRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkbefore</servlet-name>
    <url-pattern>/checkbefore</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateExisting</servlet-name>
    <servlet-class>intone.actions.UpdateExistingUserSpace</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateExisting</servlet-name>
    <url-pattern>/updateExisting</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>requestStatus</servlet-name>
    <servlet-class>intone.actions.RequestStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>requestStatus</servlet-name>
    <url-pattern>/requestStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>storeFiles</servlet-name>
    <servlet-class>intone.actions.StoreFiles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>storeFiles</servlet-name>
    <url-pattern>/storeFiles</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>uploadFile</servlet-name>
    <servlet-class>intone.actions.UploadFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadFile</servlet-name>
    <url-pattern>/uploadFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getUserReqs</servlet-name>
    <servlet-class>intone.actions.UserRequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getUserReqs</servlet-name>
    <url-pattern>/getUserReqs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getReqsCompleted</servlet-name>
    <servlet-class>intone.actions.RequestsCompleted</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getReqsCompleted</servlet-name>
    <url-pattern>/getReqsCompleted</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>intone.actions.LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admin</servlet-name>
    <servlet-class>intone.actions.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>spaceAllocate</servlet-name>
    <servlet-class>intone.actions.AllocateSpace</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>spaceAllocate</servlet-name>
    <url-pattern>/spaceAllocate</url-pattern>
  </servlet-mapping>
</web-app>